<!document>
{% extends "base.html" %}
{%  block content %}

<p> The smart room is a project our team have been working on. The project is made so that it can do different things
    like turn on the air conditioning the way it does this is my haveing tempature sensors in the room and then if it
    gets to warm the air conditioning turns on and if it is to cold it turns of. <br> The Smart room also has Gas
    Readers that will check for gases for example if there is to much co2 is will tell you to open the window and if
    there is alot of oxygen it will tell you to close the window so that the oxygen doesn't escape threw the window.</p>
{% endblock %}